.experience{
    max-width: 700px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .experience {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .experience {
        max-width: 100%;
        padding: 0 10px;
    }
}