
.projects{
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}


.projects-grid{
    list-style: none;
    padding: 0px;
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}


.projects-grid > li {
    position: relative;
    cursor: default;
    transition: var(--transition);
}

.projects-content{
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 2rem 1.75rem;
    border-radius: var(--border-radius);
    background-color: var(--navy);
    transition: var(--transition);
    justify-content: space-between;
    overflow: auto;
    min-height: 300px
}

.projects-tech-list{
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}

.projects-tech-list li{
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: 1.75;
}

.projects-tech-list li:not(:last-of-type){
    margin-right: 15px;
}

.projects-description{
    color: var(--light-slate);
    font-size: 1rem;
}

.projects-title{
    margin: 0px 0px 10px;
    color: var(--lightest-slate);
    font-size: var(--fz-xl);
    font-weight: 600;
    line-height: 1.1;
}

.projects-title:hover{
    color: var(--primary-color);
}

.projects-icon-container{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 35px;
}

.folder{
    color: var(--primary-color);

}

.folder>svg{
    width: 40px;
    height: 40px;
}

.projects-links{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: -10px;
    color: var(--light-slate);
}

.projects-links a{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 7px;
}

.external>svg{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -4px;
}

.git>svg{
    width: 1.3rem;
    height: 1.5rem;
    margin-top: -4px;
}

.git>svg:hover,.external>svg:hover{
    color:var(--primary-color)
}


svg.feather{
    fill: none;
}


